.right-side{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: flex-start;
    margin-top: 1.5rem;
}

.toggle{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 3rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .right-side{
        justify-content: flex-start;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px){
    .right-side{
        width: 100%;
        margin-top: 0;
        align-items: center;
    }
}
